html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0.1);
}
tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.025);
}
td {
    padding: 5px;
}

hr {
    border: 1px inset #666;
    margin: 32px;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: fixed;
    overflow: hidden;
    
    background-color: rgb(230, 230, 230);
    color: #333;
}
/*
@media (max-width: 1023px), (max-height: 639px) {
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000000 !important;
        z-index: 100000000;
    }
    body::after {
        content: "c";
        font-size: 128px;
        color: #aa0000;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-animation: blink 1s linear alternate infinite;
        -moz-animation: blink 1s linear alternate infinite;
        animation: blink 1s linear alternate infinite;
        z-index: 100000001;
    }
}
@keyframes blink {
    0%   { opacity: 0.25; }
    100% { opacity: 1; }
}
*/


* {
    box-sizing: border-box;
}


/* AWML */

awml-clone {
    position: relative;
}

.toolkit-root {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    font-family: Pragati,sans-serif !important;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
    
    display: flex;
    align-items: stretch;
}
.toolkit-root > * {
    flex: 1 1 auto;
}


/* TOOLKIT */



/* DEDICATED */



/* KNOBS */

.toolkit-knob {
    width: 80px;
    height: 80px;
}
.toolkit-knob::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -2;
    top: 18px;
    left: 18px;
    right: 18px;
    bottom: 18px;
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
    transform: rotate(-20deg);
    
    background: rgb(102,102,102);
    background: -moz-linear-gradient(top, #696969 0%, #3b3b3b 100%);
    background: -webkit-linear-gradient(top, #696969 0%, #3b3b3b 100%);
    background: linear-gradient(to bottom, #696969 0%, #3b3b3b 100%);
    
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.66),
                0px 4px 4px rgba(0, 0, 0, 0.2),
                0px 8px 4px rgba(0, 0, 0, 0.2),
                0px 12px 4px rgba(0, 0, 0, 0.2);
}


.toolkit-knob .toolkit-circular .toolkit-base {
    fill: rgba(0, 0, 0, 0.5);
}
.toolkit-knob .toolkit-circular .toolkit-value {
    fill: white;
}
.toolkit-knob .toolkit-circular .toolkit-hand {
    fill: white;
}


.toolkit-knob .toolkit-circular .toolkit-label {
    fill: #999;
    font-size: 0.75em;
}



.toolkit-valueknob.small .toolkit-knob,
.toolkit-knob.small {
    width: 48px;
    height: 48px;
}
.toolkit-valueknob.small .toolkit-knob::before,
.toolkit-knob.small::before {
    top: 11px;
    left: 11px;
    right: 11px;
    bottom: 11px;
}
.toolkit-valueknob.small .toolkit-knob .toolkit-circular .toolkit-label,
.toolkit-knob.small .toolkit-circular .toolkit-label {
    font-size: 1.2em;
}


.toolkit-valueknob.medium .toolkit-knob,
.toolkit-knob.medium {
    
}
.toolkit-valueknob.medium .toolkit-knob::before,
.toolkit-knob.medium::before {
    
}

.toolkit-valueknob.big .toolkit-knob,
.toolkit-knob.big {
    width: 128px;
    height: 128px;
}
.toolkit-valueknob.big .toolkit-knob::before,
.toolkit-knob.big::before {
    top: 22px;
    left: 22px;
    right: 22px;
    bottom: 22px;
}
.toolkit-valueknob.big .toolkit-knob .toolkit-circular .toolkit-label,
.toolkit-knob.big .toolkit-circular .toolkit-label {
    font-size: 0.5em;
}

.toolkit-valueknob.huge .toolkit-knob,
.toolkit-knob.huge {
    width: 160px;
    height: 160px;
}
.toolkit-valueknob.huge .toolkit-knob::before,
.toolkit-knob.huge::before {
    top: 22px;
    left: 22px;
    right: 22px;
    bottom: 22px;
}
.toolkit-valueknob.huge .toolkit-knob::after,
.toolkit-knob.huge::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -2;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
    background: rgb(78,78,78);
}
.toolkit-valueknob.huge .toolkit-knob .toolkit-circular .toolkit-label,
.toolkit-knob.huge .toolkit-circular .toolkit-label {
    font-size: 0.42em;
}


.toolkit-valueknob > .toolkit-value > .toolkit-input {
    background: transparent;
    color: white;
}
.toolkit-valueknob > .toolkit-value.toolkit-active > .toolkit-input {
    background: black;
}
